h1 {
	text-align: center;
}

#client-settings-form > div {
	display: inline-block;
	margin-right: 20px;
}

#client-settings-form label,
#client-settings-form button {
	display: block;
}

#client-settings-form button {
	margin-top: 16px;
}

.method-containers > div {
	display: none;
}

#client-method-section.createSandbox .method-containers > .createSandbox {
	display: block;
}

#dropbox {
	padding: 32px;
	margin: 8px 0;
}
